<form method="get">
    <label>Количество статей на странице:</label>
    <select name="posts_per_page" id="posts_per_page" onchange="this.form.submit()">
        <option value="5" {% if posts_per_page == '5' %}selected{% endif %}>5</option>
        <option value="10" {% if posts_per_page == '10' %}selected{% endif %}>10</option>
        <option value="20" {% if posts_per_page == '20' %}selected{% endif %}>20</option>
    </select>
</form>

<div>
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&posts_per_page={{ posts_per_page }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&posts_per_page={{ posts_per_page }}">следующая</a>
        {% endif %}
    </span>
</div>